/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.3.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: barberia_db
-- ------------------------------------------------------
-- Server version	12.3.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `barberia`
--

DROP TABLE IF EXISTS `barberia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `barberia` (
  `id_barberia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_barberia` varchar(100) NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `estado` enum('Activo','Inactivo') NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_barberia`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barberia`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `barberia` WRITE;
/*!40000 ALTER TABLE `barberia` DISABLE KEYS */;
INSERT INTO `barberia` VALUES
(1,'Chamos baber club','Bogota','3000000000','Activo');
/*!40000 ALTER TABLE `barberia` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `barbero_servicio`
--

DROP TABLE IF EXISTS `barbero_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `barbero_servicio` (
  `id_usuario` int(11) NOT NULL,
  `id_servicio` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario`,`id_servicio`),
  KEY `idx_barberos_servicios` (`id_servicio`),
  CONSTRAINT `fk_bs_barbero` FOREIGN KEY (`id_usuario`) REFERENCES `empleado` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_bs_servicio` FOREIGN KEY (`id_servicio`) REFERENCES `servicio` (`id_servicio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barbero_servicio`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `barbero_servicio` WRITE;
/*!40000 ALTER TABLE `barbero_servicio` DISABLE KEYS */;
INSERT INTO `barbero_servicio` VALUES
(7,1),
(32242355,1),
(7,2),
(15,3),
(15,4),
(7,5),
(15,6),
(15,7),
(7,8),
(23432423,9),
(23432423,10),
(7,11),
(15,12),
(7,13),
(15,13),
(15,14),
(7,15),
(23432423,15),
(32242355,15),
(7,16),
(15,16),
(23432423,16),
(23432423,17),
(23432423,18),
(32242355,18),
(23432423,19),
(23432423,40),
(32242355,40);
/*!40000 ALTER TABLE `barbero_servicio` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `cita`
--

DROP TABLE IF EXISTS `cita`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita` (
  `id_cita` int(11) NOT NULL AUTO_INCREMENT,
  `fecha_hora` datetime NOT NULL,
  `estado_cita` enum('Pendiente','Confirmada','Cancelada','Completada') DEFAULT 'Pendiente',
  `id_cliente` varchar(50) NOT NULL,
  `id_barbero` int(11) NOT NULL,
  `id_barberia` int(11) NOT NULL,
  PRIMARY KEY (`id_cita`),
  KEY `fk_cita_barberia` (`id_barberia`),
  KEY `idx_cliente` (`id_cliente`),
  KEY `idx_barbero` (`id_barbero`),
  KEY `idx_fecha` (`fecha_hora`),
  CONSTRAINT `fk_cita_barberia` FOREIGN KEY (`id_barberia`) REFERENCES `barberia` (`id_barberia`) ON UPDATE CASCADE,
  CONSTRAINT `fk_cita_barbero` FOREIGN KEY (`id_barbero`) REFERENCES `empleado` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `cita` WRITE;
/*!40000 ALTER TABLE `cita` DISABLE KEYS */;
/*!40000 ALTER TABLE `cita` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `cita_servicio`
--

DROP TABLE IF EXISTS `cita_servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `cita_servicio` (
  `id_cita` int(11) NOT NULL,
  `id_servicio` int(11) NOT NULL,
  PRIMARY KEY (`id_cita`,`id_servicio`),
  KEY `idx_citas_servicios` (`id_servicio`),
  CONSTRAINT `fk_cs_cita` FOREIGN KEY (`id_cita`) REFERENCES `cita` (`id_cita`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_cs_servicio` FOREIGN KEY (`id_servicio`) REFERENCES `servicio` (`id_servicio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cita_servicio`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `cita_servicio` WRITE;
/*!40000 ALTER TABLE `cita_servicio` DISABLE KEYS */;
INSERT INTO `cita_servicio` VALUES
(45,1),
(46,1),
(47,1),
(50,1),
(51,1),
(52,1),
(43,2),
(49,3),
(39,13),
(40,13),
(48,13),
(41,15),
(45,15),
(51,15),
(44,16);
/*!40000 ALTER TABLE `cita_servicio` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `id_usuario` int(11) NOT NULL,
  `tipo_empleado` enum('Barbero','Recepcionista','Administrador') NOT NULL,
  `estado` enum('Activo','Inactivo') DEFAULT 'Activo',
  `fecha_contratacion` date NOT NULL,
  `id_barberia` int(11) NOT NULL,
  PRIMARY KEY (`id_usuario`),
  KEY `fk_empleado_barberia` (`id_barberia`),
  CONSTRAINT `fk_empleado_barberia` FOREIGN KEY (`id_barberia`) REFERENCES `barberia` (`id_barberia`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
INSERT INTO `empleado` VALUES
(7,'Barbero','Activo','2026-08-16',1),
(15,'Barbero','Activo','2026-08-17',1),
(22,'Administrador','Activo','2026-08-14',1),
(23432423,'Barbero','Activo','2026-08-16',1),
(32242355,'Barbero','Activo','2026-08-17',1);
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `fecha_no_laboral`
--

DROP TABLE IF EXISTS `fecha_no_laboral`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fecha_no_laboral` (
  `id_fecha_no_laboral` int(11) NOT NULL AUTO_INCREMENT,
  `id_barberia` int(11) NOT NULL,
  `fecha` date NOT NULL,
  `motivo` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id_fecha_no_laboral`),
  KEY `ix_fecha_no_laboral_id_barberia` (`id_barberia`),
  KEY `ix_fecha_no_laboral_id_fecha_no_laboral` (`id_fecha_no_laboral`),
  CONSTRAINT `1` FOREIGN KEY (`id_barberia`) REFERENCES `barberia` (`id_barberia`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fecha_no_laboral`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `fecha_no_laboral` WRITE;
/*!40000 ALTER TABLE `fecha_no_laboral` DISABLE KEYS */;
/*!40000 ALTER TABLE `fecha_no_laboral` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `horario_barberia`
--

DROP TABLE IF EXISTS `horario_barberia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `horario_barberia` (
  `id_horario` int(11) NOT NULL AUTO_INCREMENT,
  `id_barberia` int(11) NOT NULL,
  `dia_semana` enum('Lunes','Martes','Mi├®rcoles','Jueves','Viernes','S├íbado','Domingo') NOT NULL,
  `hora_apertura` time NOT NULL,
  `hora_cierre` time NOT NULL,
  PRIMARY KEY (`id_horario`),
  KEY `fk_horario_barberia` (`id_barberia`),
  CONSTRAINT `fk_horario_barberia` FOREIGN KEY (`id_barberia`) REFERENCES `barberia` (`id_barberia`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horario_barberia`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `horario_barberia` WRITE;
/*!40000 ALTER TABLE `horario_barberia` DISABLE KEYS */;
INSERT INTO `horario_barberia` VALUES
(1,1,'Lunes','08:00:00','20:00:00'),
(2,1,'Martes','08:00:00','20:00:00'),
(3,1,'Mi├®rcoles','08:00:00','20:00:00'),
(4,1,'Jueves','08:00:00','20:00:00'),
(5,1,'Viernes','08:00:00','20:00:00'),
(6,1,'S├íbado','08:00:00','18:00:00');
/*!40000 ALTER TABLE `horario_barberia` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `notificacion`
--

DROP TABLE IF EXISTS `notificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificacion` (
  `id_notificacion` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(100) NOT NULL,
  `mensaje` text NOT NULL,
  `fecha_envio` datetime DEFAULT current_timestamp(),
  `estado` enum('Leida','No Leida') DEFAULT 'No Leida',
  `tipo` enum('Recordatorio','Confirmacion','Cancelacion','Reprogramacion') NOT NULL,
  `id_usuario` varchar(50) NOT NULL,
  `id_cita` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_notificacion`),
  KEY `idx_notificaciones_usuario` (`id_usuario`),
  KEY `idx_notificaciones_cita` (`id_cita`),
  CONSTRAINT `fk_notificacion_cita` FOREIGN KEY (`id_cita`) REFERENCES `cita` (`id_cita`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificacion`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `notificacion` WRITE;
/*!40000 ALTER TABLE `notificacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificacion` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `servicio`
--

DROP TABLE IF EXISTS `servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicio` (
  `id_servicio` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_servicio` varchar(100) NOT NULL,
  `tipo_servicio` enum('PRINCIPAL','ADICIONAL','COMBO') NOT NULL,
  `descripcion_servicio` text DEFAULT NULL,
  `estado_servicio` enum('Activo','Inactivo') DEFAULT 'Activo',
  `tiempo_estimado` int(11) NOT NULL COMMENT 'Tiempo en minutos',
  `precio_servicio` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_servicio`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `servicio` WRITE;
/*!40000 ALTER TABLE `servicio` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicio` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `servicio_adicional`
--

DROP TABLE IF EXISTS `servicio_adicional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicio_adicional` (
  `id_servicio` int(11) NOT NULL,
  `id_adicional` int(11) NOT NULL,
  PRIMARY KEY (`id_servicio`,`id_adicional`),
  KEY `fk_servicio_adicional_adicional` (`id_adicional`),
  CONSTRAINT `fk_servicio_adicional_adicional` FOREIGN KEY (`id_adicional`) REFERENCES `servicio` (`id_servicio`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_servicio_adicional_servicio` FOREIGN KEY (`id_servicio`) REFERENCES `servicio` (`id_servicio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio_adicional`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `servicio_adicional` WRITE;
/*!40000 ALTER TABLE `servicio_adicional` DISABLE KEYS */;
INSERT INTO `servicio_adicional` VALUES
(1,13),
(2,13),
(3,13),
(4,13),
(5,13),
(6,13),
(8,13),
(9,13),
(17,13),
(18,13),
(40,13),
(1,14),
(1,15),
(2,15),
(3,15),
(4,15),
(5,15),
(6,15),
(7,15),
(8,15),
(9,15),
(10,15),
(11,15),
(12,15),
(17,15),
(18,15),
(19,15),
(40,15),
(1,16),
(2,16),
(3,16),
(4,16),
(5,16),
(6,16),
(7,16),
(8,16),
(12,16),
(18,16),
(40,16);
/*!40000 ALTER TABLE `servicio_adicional` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `servicios_barberia`
--

DROP TABLE IF EXISTS `servicios_barberia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicios_barberia` (
  `id_barberia` int(11) NOT NULL,
  `id_servicio` int(11) NOT NULL,
  PRIMARY KEY (`id_barberia`,`id_servicio`),
  KEY `fk_sb_servicio` (`id_servicio`),
  CONSTRAINT `fk_sb_barberia` FOREIGN KEY (`id_barberia`) REFERENCES `barberia` (`id_barberia`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_sb_servicio` FOREIGN KEY (`id_servicio`) REFERENCES `servicio` (`id_servicio`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios_barberia`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `servicios_barberia` WRITE;
/*!40000 ALTER TABLE `servicios_barberia` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios_barberia` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` varchar(50) NOT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `usuario` varchar(50) NOT NULL,
  `contrase├▒a` varchar(255) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `estado` enum('Activo','Inactivo') NOT NULL DEFAULT 'Activo',
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `usuario` (`usuario`),
  UNIQUE KEY `correo` (`correo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-08-17 20:05:01
